@import './variables';

.header {
    background: $bgColor;
    width: 1000px;
    margin: 20px auto;

    h1 {
        color: $txtColor;
        font-size: $headingFontSize;
        font-family: 'Courier New', Courier, monospace;
    }

    button {
        width: 80px;
        height: 20px;
        border: 0;
        margin: 20px;
    }

    h2 {
        color: $txtColor;
        font-size: $headingFontSize;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
}
